@import '~bootstrap/scss/bootstrap';

$fa-font-path: "..fonts/webfonts" !default;
@import "@fortawesome/fontawesome-free/css/all.css";

$app_blue: #0282f9;
$app_black: #1c1c1c;

body{
    overflow-x: hidden;
}

.al-bg-blue{
    background-color: $app_blue;
    color: white;
}

.al-blue{
    color: $app_blue;
}

ul{
    margin-bottom: 0;
}

li{
    list-style: none;
    padding: 2rem 0;
    border-bottom: 4px solid white;
    cursor: pointer;

    &:hover{
        color: $app_blue;
        border-bottom: 4px solid $app_blue;
    }
}

header{

    img{
        width: 60px;
    }

    i{
        color: grey;
        font-size: 1.6rem;
    }
}

.al-jumbo{
    height: 350px;
    background-image: url("../img/jumbotron.jpg");
    background-size: cover;
    background-position: top;
}

main{

    background-color: $app_black;
    color: white;

    .al-cur-ser::after, .al-cur-edit::after, .al-cur-create::after{
        position: absolute;
        font-size: 1.7rem;
        font-weight: 500;
        padding: 0.2rem 0.8rem;
        top: -30px;
        left: 30px;
        background-color: $app_blue;
        border-style: groove;
        border-color: $app_blue;
        color: white;
    }

    .al-cur-ser::after{
        content: "Current Series";
    }

    .al-cur-edit::after{
        content: "Modifica Fumetto"
    }

    .al-cur-create::after{
        content: "Crea un Fumetto";
    }

    .al-card{
        overflow: hidden;
        transition: transform 300ms;

        .al-img-container{
            height: 650px;

            img{
                width: 100%;
                height: 100%;
                display: block;
                object-fit: cover;
                object-position: center;
            }

            @media screen and (min-width: 576px){
                height: 400px;
            }

            @media screen and (min-width: 768px){
                height: 350px;
            }

            @media screen and (min-width: 1200px){
                height: 260px;
            }
        }

        &:hover{
            transform: scale(1.05);
        }
    }
}

.al-categories{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;

    img{
        width: 50px;
    }
}

footer{
    background-image: url("../img/dc-logo-bg.png"), url("../img/footer-bg.jpg");
    background-repeat: no-repeat, repeat;
    background-position: right, center;
    color: white;

    .al-grey{
        color: rgb(160, 160, 160);
    }

    .al-bg-grey{
        background-color: #303030;
    }

    .al-button-footer{
        padding: 0.6rem;
        border: 2px solid $app_blue;
        font-weight: bold;
    }
}

.al-blue-jumbo{
    height: 80px;
    background-color: $app_blue;

    img{
        width: 200px;
        position: absolute;
        bottom: -60px;
        left: 6rem;
    }
}

.al-bg-white{
    background-color: white;
    color: black;
}

.al-p{
    padding: 0 6rem;
}

a{
    text-decoration: none;
    color: white;
}

.al-ps{
    padding-left: 0.1rem;
}

h5{
    margin-bottom: 0;
}

a{
    &:hover{
        color: white;
        text-decoration: none;
    }
}

.al-img-show{
    position: absolute;
    top: -320px;
    left: 0;
    width: 200px;
    height: 310px;

    img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }
}

.al-button{
    padding: 0.5rem 1.7rem;
    color: black;
    font-style: italic;
    background-color: gold;
    border: 3px groove goldenrod;
    transition: transform 300ms;
    cursor: pointer;

    &:hover{
        color: black;
        transform: scale(1.1);
    }
}

.al-p-max{
    padding: 6rem 0;
}

label{
    padding: 0.5rem 0;
    cursor: pointer;
}

input[type="text"]{
    width: 100%;
    padding: 0.3rem;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    color: black;
}

::placeholder{
    color: black;
    opacity: 0.7;
}

input[type="submit"]{
    padding: 1rem 2.4rem;
    background-color: blueviolet;
    color: white;
    border: 4px groove rgb(104, 31, 173);
    margin: 3rem 0;
    transition: transform 300ms;

    &:hover{
        transform: scale(1.1);
    }
}

.al-bubble-speech{
    position: absolute;
    top: 2rem;
    left: 5rem;
    padding: 0.3rem 0.8rem;
    border-radius: 6px;
    background-color: lightgreen;
    color: black;
    font-size: 1.1rem;
    max-width: 16rem;
    text-align: center;
    z-index: 5;
    opacity: 0;
    animation: disappear 5s linear;

    .al-clip{
        width: 30px;
        height: 40px;
        background-color: lightgreen;
        clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
    }

    .al-z-index{
        position: relative;
        z-index: 10;
    }
}

@keyframes disappear {
    from{
        opacity: 1;
    }

    40%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}

.al-cursor-pointer{
    cursor: pointer;
}

.al-confirm{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightgrey;
    color: black;
    padding: 2rem;
    border: 3px groove grey;
    border-radius: 6px;
    text-align: center;
    z-index: 1000;
}

.al-round{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: transform 300ms;
    cursor: pointer;

    &:hover{
        transform: scale(1.1);
    }

    i{
        font-size: 1.4rem;

    }
}

.al-green{
    color: rgb(0, 160, 0);
    border: 1px solid rgb(0, 160, 0);
}

.al-red{
    color: rgb(255, 58, 58);
    border: 1px solid rgb(255, 58, 58);
}

.al-shadow{
    box-shadow: 12px 10px 40px 20px rgb(14, 14, 14)
}

.al-text-wrap{
    overflow-wrap: break-word;
}

.al-overflow-hidden{
    overflow: hidden;
}

.al-menu{
    transform-origin: top right;
    transform: scale(0);
    position: absolute;
    right: 0;
    // transition: transform 200ms;
    border-radius: 5px;
    border: 1px solid grey;
    background-color: white;
    z-index: 100;
}

.al-menu-item{
    white-space: nowrap;
    background-color: white;
    padding: 10px 18px;
    cursor: pointer;
    transition: background-color 200ms;
    border-radius: 5px;
    z-index: 10;
}

.al-menu-item:hover{
    background-color: lightgray;
}

.al-context-menu{
    transform-origin: top left;
    transform: scale(0);
    position: fixed;
    z-index: 100;
    background-color: lightgrey;
    color: black;
    border-radius: 5px;
    border: 1px solid grey;

    a{
        display: block;
        color: black;
        width: 100%;
        height: 100%;

        &:hover{
            color: black;
        }
    }
}

.al-menu-visible{
    transform: scale(1);
}
